<%= simple_form_for(@private_area, remote: true) do |f| %>
  <% if @private_area.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@private_area.errors.count, "error") %> prohibited this common_area from being saved:</h2>

      <ul>
      <% @private_area.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.input :repair_type, collection: ["Heat/air conditioning",
      "Plumbing",
      "Leak", 
      "Maintenance (broken door, window, cracked wall, plaster, ceiling, floor, insulation)",
      "Lighting",
      "Pests",
      "Fridge/Stove",
      "Electricity",
      "Smoke detector",
      "Cabinets",
      "Locks",
      "Fire alarm",
      "Stairwell",
      "Graffiti"] %>

    <p>Only enter if your unit has more than one floor:</p>
    <%= f.input :floor, required: false %>  

    <%= f.input :main_location, collection: ["Lobby",
      "Entrance",
      "Hall",
      "Bathroom",
      "Bedroom",
      "Livingroom",
      "Diningroom",
      "Kitchen",
      "Balcony",
      "Basement",
      "Patio/BBQ",
      "Parking",
      "Storage area",
      "Green space/garden",
      "Roof",
      ] %>

    <p> Please add other details if you need to. For example, if you chose plumbing and the location, you can tell us "bathtub" here. </p>
    <%= f.input :sub_location, required: false %><br>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>

  <ul>
  <li>
    <ul class="nav_row">
      <li onclick="thisRuns();"><img src="http://www.google.ca/url?sa=i&source=images&cd=&docid=63KlovzEq6UYsM&tbnid=w53ucIWJ4o5L6M:&ved=0CAUQjBw&url=http%3A%2F%2Fwww.picturesnew.com%2Fmedia%2Fimages%2Fcat-wallpaper.jpg&ei=SFRUU6f8I5KxyASN1YD4Bg&psig=AFQjCNG3ii_ruPUPDANw76wRFzIcGyNbww&ust=1398121928646848" alt="" height="50px"/></li>
       <li onclick="thisRuns();"><img src="http://www.google.ca/url?sa=i&source=images&cd=&docid=63KlovzEq6UYsM&tbnid=w53ucIWJ4o5L6M:&ved=0CAUQjBw&url=http%3A%2F%2Fwww.picturesnew.com%2Fmedia%2Fimages%2Fcat-wallpaper.jpg&ei=SFRUU6f8I5KxyASN1YD4Bg&psig=AFQjCNG3ii_ruPUPDANw76wRFzIcGyNbww&ust=1398121928646848" alt="" height="50px"/></li>
       <li onclick="thisRuns();"><img src="http://www.google.ca/url?sa=i&source=images&cd=&docid=63KlovzEq6UYsM&tbnid=w53ucIWJ4o5L6M:&ved=0CAUQjBw&url=http%3A%2F%2Fwww.picturesnew.com%2Fmedia%2Fimages%2Fcat-wallpaper.jpg&ei=SFRUU6f8I5KxyASN1YD4Bg&psig=AFQjCNG3ii_ruPUPDANw76wRFzIcGyNbww&ust=1398121928646848" alt="" height="50px"/></li>
    </ul>
  </li>
  <li>
    <ul class="nav_row">
      <li onclick="thisRuns();"><img src="http://www.google.ca/url?sa=i&source=images&cd=&docid=63KlovzEq6UYsM&tbnid=w53ucIWJ4o5L6M:&ved=0CAUQjBw&url=http%3A%2F%2Fwww.picturesnew.com%2Fmedia%2Fimages%2Fcat-wallpaper.jpg&ei=SFRUU6f8I5KxyASN1YD4Bg&psig=AFQjCNG3ii_ruPUPDANw76wRFzIcGyNbww&ust=1398121928646848" alt="" height="50px"/></li>
       <li onclick="thisRuns();"><img src="http://www.google.ca/url?sa=i&source=images&cd=&docid=63KlovzEq6UYsM&tbnid=w53ucIWJ4o5L6M:&ved=0CAUQjBw&url=http%3A%2F%2Fwww.picturesnew.com%2Fmedia%2Fimages%2Fcat-wallpaper.jpg&ei=SFRUU6f8I5KxyASN1YD4Bg&psig=AFQjCNG3ii_ruPUPDANw76wRFzIcGyNbww&ust=1398121928646848" alt="" height="50px"/></li>
       <li onclick="thisRuns();"><img src="http://www.google.ca/url?sa=i&source=images&cd=&docid=63KlovzEq6UYsM&tbnid=w53ucIWJ4o5L6M:&ved=0CAUQjBw&url=http%3A%2F%2Fwww.picturesnew.com%2Fmedia%2Fimages%2Fcat-wallpaper.jpg&ei=SFRUU6f8I5KxyASN1YD4Bg&psig=AFQjCNG3ii_ruPUPDANw76wRFzIcGyNbww&ust=1398121928646848" alt="" height="50px"/></li>
    </ul>
  </li>
  <li>
    <ul class="nav_row">
       <li onclick="thisRuns();"><img src="http://www.google.ca/url?sa=i&source=images&cd=&docid=63KlovzEq6UYsM&tbnid=w53ucIWJ4o5L6M:&ved=0CAUQjBw&url=http%3A%2F%2Fwww.picturesnew.com%2Fmedia%2Fimages%2Fcat-wallpaper.jpg&ei=SFRUU6f8I5KxyASN1YD4Bg&psig=AFQjCNG3ii_ruPUPDANw76wRFzIcGyNbww&ust=1398121928646848" alt="" height="50px"/></li>
       <li onclick="thisRuns();"><img src="http://www.google.ca/url?sa=i&source=images&cd=&docid=63KlovzEq6UYsM&tbnid=w53ucIWJ4o5L6M:&ved=0CAUQjBw&url=http%3A%2F%2Fwww.picturesnew.com%2Fmedia%2Fimages%2Fcat-wallpaper.jpg&ei=SFRUU6f8I5KxyASN1YD4Bg&psig=AFQjCNG3ii_ruPUPDANw76wRFzIcGyNbww&ust=1398121928646848" alt="" height="50px"/></li>
       <li onclick="thisRuns();"><img src="http://www.google.ca/url?sa=i&source=images&cd=&docid=63KlovzEq6UYsM&tbnid=w53ucIWJ4o5L6M:&ved=0CAUQjBw&url=http%3A%2F%2Fwww.picturesnew.com%2Fmedia%2Fimages%2Fcat-wallpaper.jpg&ei=SFRUU6f8I5KxyASN1YD4Bg&psig=AFQjCNG3ii_ruPUPDANw76wRFzIcGyNbww&ust=1398121928646848" alt="" height="50px"/></li>
    </ul>
  </li>
</ul>  

<script>
function thisRuns(){
  alert("hey");
}
</script>
<% end %>

